<div class="projects text-left mt-5">
  <h2>Blog posts</h2>

  <hr>

  <div class="media">
    <img class="mr-3 rounded image" src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Lucas Oliveira's DEV Profile">
    <div class="media-body">
      <h4 class="mt-0"><a href="https://dev.to/lucasprag" target="_blank">My DEV Profile</a></h4>
      <p class="description">
        I write posts about ruby, rails and other programming subjects in the DEV community.
      </p>
    </div>
  </div>

  <hr>

  <div class="media">
    <img class="mr-3 rounded image" src="/assets/images/rubynostrilhos.png" alt="Ruby nos trilhos">
    <div class="media-body">
      <h4 class="mt-0"><a href="http://rubynostrilhos.com.br/" target="_blank">Ruby nos Trilhos</a></h4>
      <p class="description">
        A blog about ruby, rails and relatives subjects like git, web servers and docker in Portuguese.
      </p>
    </div>
  </div>
</div>
