<div class="education text-left mt-5">
  <h2>Education</h2>

  <hr>

  <h4>Analysis and Systems Development at <a href="http://www.fiap.com.br/graduacao/tecnologo/analise-e-desenvolvimento-de-sistemas/">FIAP</a></h4>
  <small>January 2012 - December 2013 (2 years)</small>

  <p class="description">
    Most of the projects were developed using Java and JSF or C#.NET
  </p>

  <p class="description">
    My final project was a website with a search that could tell whether people are saying good or bad things about a company on Twitter.
  </p>

  <p class="description">
    This application was built using C#.NET and it classified the content using the <a href="https://cloud.google.com/prediction/docs">Google Prediction API</a>.
  </p>
</div>
