<div class="experience">
  <h2>Experience</h2>

  <hr>

  <h4 class="mt-4 mb-0">
    Software Engineer at <a href="http://iugu.com/" target="_blank">Iugu</a>
  </h4>
  <small>
    (online payments company)
    <br>
    September 2017 – Today | São Paulo
  </small>
  <p class="description">
    Back-end development using Ruby on Rails and MySQL
    <br>
    Front-end development using BackboneJS
    <br>
    Devops using Docker and Kubernetes
  </p>

  <hr>

  <h4 class="mt-4 mb-0">
    Software Engineer at <a href="http://2mundos.net/" target="_blank">2mundos</a>
  </h4>
  <small>
    (software house)
    <br>
    July 2016 – September 2017 (1 year and 3 months) | São Paulo
  </small>
  <p class="description">
    Back-end development using NodeJS, MongoDB and MeteorJS
    <br>
    Front-end development using AngularJS
    <br>
    Devops using Jenkins
  </p>

  <hr>

  <h4 class="mt-4 mb-0">
    Software Engineer at <a href="https://magnetis.com.br/" target="_blank">Magnetis</a>
  </h4>
  <small>
    (online financial investment)
    <br>
    April 2015 - June 2016 (1 year and 2 months) | São Paulo
  </small>
  <p class="description">
    Back-end development Ruby on Rails on a Docker environment
  </p>

  <hr>

  <h4 class="mt-4 mb-0">
    Software Developer at <a href="http://www.uplexis.com.br/" target="_blank">Uplexis</a>
  </h4>
  <small>
    (financial compliance)
    <br>
    October 2012 – March 2015 (2 years and 6 months) | São Paulo
  </small>

  <p class="description">
    RESTful APIs using Ruby on Rails
    <br>
    Background jobs using Sidekiq and Redis
    <br>
    Maintenance of SOAP APIs using with PHP with Zend Framework
    <br>
    AWS Cloud Management
  </p>

  <hr>

  <p class="description">
    Also, one year of experience with PHP, MySQL on a Linux environment.
  </p>
</div>
