<footer class="footer">
  <div class="footer-social">
    <a href="https://dev.to/lucasprag" title="my DEV Profile">
      <i class="fab fa-dev"></i>
    </a>

    <a href="https://github.com/lucasprag" title="This repository for this website on Github">
      <i class="fab fa-github-square"></i>
    </a>

    <a href="https://twitter.com/lucasprag" title="@lucasprag on Twitter">
      <i class="fab fa-twitter-square"></i>
    </a>

    <a href="/feed.xml">
      <i class="fas fa-rss-square"></i>
    </a>
  </div>
</footer>
