<div class="header">
  <div class="row my-5">
    <div class="col">
    </div>

    <div class="col-12 col-lg-6 px-5">
      <h1 class="text-center border border-danger rounded p-3 title">
        {{ site.title }}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </h1>
    </div>

    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <img src="{{ site.baseurl }}/assets/images/developer.jpg"
      class="rounded-circle mx-auto d-block border width-auto"
      alt="{{ site.title }}">
    </div>

    <div class="col">
    </div>
  </div>

  <div class="row my-5">
    <div class="col col-12">
      <p class="text-center">
        <strong>Pragmatic programmer</strong> with more than 6 years of experience with Ruby, JavaScript and PHP.
      </p>
      <p class="text-center">
        I like <strong class="ruby">Ruby</strong> a lot, but I also like some others languages such as JavaScript and Elixir.
        <i class="fa fa-heart elixir" aria-hidden="true"></i>
      </p>
    </div>
  </div>
</div>
