<div class="header">
 <div class="row mt-4">
    <div class="col">
    </div>

    <div class="col-12 col-lg-6">
      <h1 class="text-center p-3 title">
        {{ site.title }}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </h1>
    </div>

    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>

    <div class="col-12 col-md-3 col-lg-2">
      <img src="{{ site.baseurl }}/assets/images/developer.jpg"
      class="rounded-circle mx-auto d-block border width-auto"
      alt="{{ site.title }}">
    </div>

    <div class="col">
    </div>
  </div>

  <div class="row my-3">
    <div class="col col-12">
      <p class="text-center">
        <strong class="ruby">Ruby</strong> developer.
        <br>
        <strong class="elixir">Elixir</strong> enthusiastic.
      </p>
    </div>
  </div>
</div>
