<div class="links text-left mt-5">
  <h2>Links</h2>

  <hr>

  <ul class="list">
    <li>
      <span class="fa fa-github fa-lg"></span>
      <a href="http://github.com/lucasprag">Github</a>
    </li>

    <li>
      <span class="fa fa-gitlab fa-lg"></span>
      <a href="http://gitlab.com/lucasprag">Gitlab</a>
    </li>

    <li><span class="fa fa-linkedin fa-lg"></span>
      <a href="http://br.linkedin.com/in/lucasosilva/en">Linkedin</a>
    </li>
    <li><span class="fa fa-twitter fa-lg"></span>
      <a href="http://twitter.com/lucasprag">Twitter</a>
    </li>

    <li><span class="fa fa-medium fa-lg"></span>
      <a href="https://medium.com/@lucasprag">Medium</a>
    </li>

    <li><span class="fa fa-slideshare fa-lg"></span>
      <a href="https://speakerdeck.com/lucasprag">Speaker Deck</a>
    </li>
  </ul>

</div>
