<div class="links text-left my-5">
  <h2>Links</h2>

  <hr>

  <ul class="list">
    <li>
      <span class="fa fa-github fa-lg link-icon"></span>
      <a href="http://github.com/lucasprag" target="_blank">Github</a>
    </li>

    <li>
      <span class="fa fa-wikipedia-w fa-lg link-icon"></span>
      <a href="https://wiki.lucasprag.com/" target="_blank">Wiki</a>
    </li>

    <li>
      <span class="link-icon">
        <img class="mr-3 rounded image" src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="DEV Profile">
      </span>
      <a href="https://dev.to/lucasprag" target="_blank">DEV</a>
    </li>

    <li><span class="fa fa-slideshare fa-lg link-icon"></span>
      <a href="https://speakerdeck.com/lucasprag" target="_blank">Speaker Deck</a>
    </li>

    <li>
      <span class="fa fa-linkedin fa-lg link-icon"></span>
      <a href="https://www.linkedin.com/in/lucasosilva/?locale=en_US" target="_blank">Linkedin</a>
    </li>

  </ul>
</div>
