<div class="links text-left my-5">
  <h2>Links</h2>

  <hr>

  <ul class="list">
    <li>
      <span class="fa fa-github fa-lg"></span>
      <a href="http://github.com/lucasprag" target="_blank">Github</a>
    </li>

    <li>
      <span class="fa fa-gitlab fa-lg"></span>
      <a href="http://gitlab.com/lucasprag" target="_blank">Gitlab</a>
    </li>

    <li><span class="fa fa-linkedin fa-lg"></span>
      <a href="https://www.linkedin.com/in/lucasosilva/?locale=en_US" target="_blank">Linkedin</a>
    </li>
    <li><span class="fa fa-twitter fa-lg"></span>
      <a href="http://twitter.com/lucasprag" target="_blank">Twitter</a>
    </li>

    <li><span class="fa fa-medium fa-lg"></span>
      <a href="https://medium.com/@lucasprag" target="_blank">Medium</a>
    </li>

    <li><span class="fa fa-slideshare fa-lg"></span>
      <a href="https://speakerdeck.com/lucasprag" target="_blank">Speaker Deck</a>
    </li>
  </ul>

</div>
