<div class="projects text-left">
  <h2>Side projects</h2>

  <hr>

  <div class="media">
    <img class="mr-3 rounded image" src="/assets/images/rubynostrilhos.png" alt="Ruby nos trilhos">
    <div class="media-body">
      <h4 class="mt-0"><a href="http://rubynostrilhos.com.br/" target="_blank">Ruby nos Trilhos</a></h4>
      <p class="description">
        A blog about ruby, rails and relatives subjects like git, web servers and docker in Portuguese.
      </p>
    </div>
  </div>

  <hr>

  <div class="media">
    <img class="mr-3 rounded image" src="/assets/images/the-pragmatic-alchemist.jpg" alt="The Pragmatic Alchemist">
    <div class="media-body">
      <h4 class="mt-0"><a href="http://pragmatic-alchemist.com/" target="_blank">The Pragmatic Alchemist</a></h4>
      <p class="description">
        A blog about Elixir, Ruby, React.js and Kubernetes in English.
      </p>
    </div>
  </div>
</div>
