<div class="projects text-left">
  <h2>Side projects</h2>

  <hr>

  <div class="media">
    <img class="mr-3 rounded image" src="/assets/images/rubynostrilhos.png" alt="Ruby nos trilhos">
    <div class="media-body">
      <h4 class="mt-0"><a href="http://rubynostrilhos.com.br/">Ruby nos Trilhos</a></h4>
      <p class="description">
        A blog about ruby, rails and relatives subjects like git and web servers in Portuguese.
      </p>
    </div>
  </div>

  <hr>

  <div class="media">
    <img class="mr-3 rounded image" src="/assets/images/rubyonrailsbrasil.png" alt="Ruby on Rails Brasil">
    <div class="media-body">
      <h4 class="mt-0"><a href="https://rubyonrailsbrasil.com.br/">Ruby on Rails Brasil</a></h4>
      <p class="description">
        The brazilian ruby on rails community. My goal is help the community to grow attracting new people.
      </p>
    </div>
  </div>
</div>
