// responsive breakpoints
$mobile: 480px;
$tabletMax: 768px;
$tablet: 768px;


:root {
  --page-color: #494e52;
  --page-bg-color: #ffffff;

  --badge-color: #ffffff;
  --badge-bg-color: #377dc4;
  --badge-bg-color-hover: #27588a;

  --tag-color: #ffffff;
  --tag-bg-color: #a1a1a1;
  --tag-bg-color-hover: #377dc4;

  --link-color: #3d92e3;
  --link-color-hover: #377dc4;

  --title-color: #5f5f5f;
  --title-color-hover: #377dc4;

  --blockquote-border: #eaeaea;
}

[data-theme="dark"] {
  --page-color: #cccccc;
  --page-bg-color: #181c21;

  --badge-color: #ffffff;
  --badge-bg-color: #377dc4;
  --badge-bg-color-hover: #2d6aa8;

  --tag-color: #ffffff;
  --tag-bg-color: #5f5f5f;
  --tag-bg-color-hover: #377dc4;

  --link-color: #3d92e3;
  --link-color-hover: #377dc4;

  --title-color: #eaeaea;
  --title-color-hover: #bdbdbd;

  --blockquote-border: #2e2e2e;
}
