@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

@import "./variables";
@import "./header";
@import "./posts";
@import "./post";
@import "./page";
@import "./footer";
@import "./sidebar";
@import "./theme-switch";
@import "./monokai";
@import "./github";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background: var(--page-bg-color);
  color: var(--page-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

p {
  line-height: 1.5;
  font-size: 20px;
}

.highlight pre {
  padding: 10px 20px 10px 20px;
}

code.highlighter-rouge {
  padding: 1px 5px 1px 5px;
}

.category-icon {
  max-width: 50px;
}

.fa-category-icon {
  width: 50px;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
}

.highlight {
  padding: 5px 5px 1px 5px;
  margin-bottom: 12px;
}

.badge-tag {
  color: var(--tag-color);
  background-color: var(--tag-bg-color);

  a {
    color: var(--tag-color);
  }
}

.badge-tag:hover {
  background-color: var(--tag-bg-color-hover);
}

.badge-topic {
  font-size: 16px;
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
}

.badge-topic:hover {
  background-color: var(--tag-bg-color-hover);
}

.badge-link {
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
}

.badge-link:hover {
  color: var(--badge-color);
  background-color: var(--badge-bg-color-hover);
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 8px solid var(--blockquote-border);
  padding-left: 14px;
}
