@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

// responsive breakpoints
$mobile: 480px;
$tabletMax: 768px;
$tablet: 768px;

:root {
  --page-color: #494e52;
  --page-bg-color: #ffffff;

  --badge-color: #ffffff;
  --badge-bg-color: #377dc4;
  --badge-bg-color-hover: #27588a;

  --tag-color: #ffffff;
  --tag-bg-color: #a1a1a1;
  --tag-bg-color-hover: #377dc4;

  --link-color: #3d92e3;
  --link-color-hover: #377dc4;

  --title-color: #5f5f5f;
  --title-color-hover: #377dc4;

  --blockquote-border: #eaeaea;
}

[data-theme="dark"] {
  --page-color: #e1e1e1;
  --page-bg-color: #151618;

  --badge-color: #ffffff;
  --badge-bg-color: #377dc4;
  --badge-bg-color-hover: #2d6aa8;

  --tag-color: #ffffff;
  --tag-bg-color: #5f5f5f;
  --tag-bg-color-hover: #377dc4;

  --link-color: #3d92e3;
  --link-color-hover: #377dc4;

  --title-color: #eaeaea;
  --title-color-hover: #bdbdbd;

  --blockquote-border: #2e2e2e;
}

@import "./theme-switch";
@import "./monokai";
@import "./github";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background: var(--page-bg-color);
  color: var(--page-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

p {
  line-height: 1.5;
  font-size: 20px;
}

.highlight pre {
  padding: 10px 20px 10px 20px;
}

code.highlighter-rouge {
  padding: 1px 5px 1px 5px;
}

.category-icon {
  max-width: 50px;
}

.fa-category-icon {
  width: 50px;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
}

.highlight {
  padding: 5px 5px 1px 5px;
  margin-bottom: 12px;
}

.badge-tag {
  color: var(--tag-color);
  background-color: var(--tag-bg-color);

  a {
    color: var(--tag-color);
  }
}

.badge-tag:hover {
  background-color: var(--tag-bg-color-hover);
}

.badge-topic {
  font-size: 16px;
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
}

.badge-topic:hover {
  background-color: var(--tag-bg-color-hover);
}

.badge-link {
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
}

.badge-link:hover {
  color: var(--badge-color);
  background-color: var(--badge-bg-color-hover);
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 8px solid var(--blockquote-border);
  padding-left: 14px;
}

.header {
  .navbar {
    padding: 2rem 0;
  }

  a.logo, a.logo:hover {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .nav-item {
    .nav-link {
      font-size: 18px;
    }

    &.active {
      border-bottom: 2px var(--link-color) solid;
    }
  }
}

.posts {
  .title {
    font-size: 16px;
    color: var(--title-color);
    display: block;
  }

  a.title:hover {
    color: var(--title-color-hover);
  }
}


.post {
  .title {
    font-size: 30px;
    color: var(--title-color);
  }

  .date {
    display: block;
  }

  .image {
    max-width: 100%;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 30px;
  }
}

.sidebar {
  .list-group-item-action,
  .list-group-item-action:focus {
    background-color: transparent;
    color: var(--title-color);
    border-color: var(--blockquote-border);
  }


  .list-group-item-action:hover,
  .list-group-item-action.active {
    color: var(--date-color);
    background-color: var(--date-bg-color);
    border-color: var(--date-bg-color);
  }

  .badge-pill {
    color: var(--tag-color);
    background-color: var(--tag-bg-color);
  }

  .sidebar-links {
    font-size: 42px;
    text-align: center;

    a {
      margin: 0 3px;
    }

    a:first-child {
      margin-left: 0;
    }

    a:last-child {
      margin-right: 0;
    }
  }
}

.page {
  .title {
    font-size: 30px;
  }

  .image {
    max-width: 100%;
  }

  .content {
    padding-bottom: 20px;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 30px;
  }
}

.footer {
  padding: 40px 0;
  text-align: center;
}
