.links {
  font-size: 30px;

  ul.list {
    li {
      padding: 10px 0;
      list-style: none;

      a {
        padding-left: 10px;
      }

      .link-icon {
        width: 50px;

        &.fa-linkedin {
          padding-left: 10px;
        }

        &.fa-github {
          padding-left: 8px;
        }
  
        &.fa-slideshare {
          padding-left: 5px;
        }

        .image {
          width: 40px;
          margin-left: 5px;
          float: left;
        }
      }
    }
  }
}
