<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google" content="notranslate" />

    <title>
      {% assign title_is_not_empty = page.title | is_not_empty %}
      {% if title_is_not_empty %}
      {% unless page.title == "Home" %}
      {{ page.title }} -
      {% endunless %}
      {% endif %}
      {{ site.title }}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">

    <script src="{{ 'assets/js/mode.js' | relative_url }}"></script>

    {% if page.layout == 'post' %}
    {% assign canonical_url_is_not_empty = page.canonical_url | is_not_empty %}
    {% if canonical_url_is_not_empty %}
    <link rel="canonical" href="{{ page.canonical_url }}"/>
    {% endif %}
    {% endif %}

    {% seo %}

    <script src="https://kit.fontawesome.com/44da151334.js"></script>

    <link rel="alternate" type="application/rss+xml" title="{{ site.title}} - {{ site.description }}" href="/feed.xml" />

    {% include ga.html %}
  </head>

  <body>
    {% include theme-switch.html %}

    <header class="header container">
      <a class="badge badge-link py-2 px-3 logo" href="/">
        lucas arantes
      </a>
    </header>

    <div class="container">
      {{ content }}
    </div>

    <footer class="footer">
      Blog under <a href="https://creativecommons.org/licenses/by-nc/2.5/">Creative Commons<a>.
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
    <script id="dsq-count-scr" src="//lucasprag-com.disqus.com/count.js" async></script>
  </body>
</html>
