<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="body">
    <div class="container">
      {% include header.html %}

      <div class="row mt-5">
        <div class="col-12 col-lg-6 order-lg-first">
          {% include experience.html %}
        </div>

        <div class="col-12 col-lg-6 order-first">
          {% include projects.html %}
          {% include education.html %}
          {% include links.html %}
        </div>
      </div>

      {% include footer.html %}

      {{ content }}
    </div>

    {% include js.html %}
  </body>
</html>
